<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" style="border-collapse: collapse"  align="center">
   <tr align="center"> <td bgcolor= " #D3D3D3" width="200"> Vendor </td> <td bgcolor= " #D3D3D3" width="200"> Units </td> <td bgcolor= " #D3D3D3"  width="200"> Share </td> </tr>

<tr align="center"> <td> Dell </td> <td> 13 980 </td> <td> 42,6% </td> </tr>
<tr align="center"> <td> Hewlett-Packard </td> <td> 9 206 </td> <td> 28,1% </td> </tr>
<tr align="center"> <td> Lenovo </td> <td> 3 942 </td> <td> 12% </td> </tr>
<tr align="center"> <td> Fujitsu Siemens </td> <td> 2 634 </td> <td> 8,1% </td> </tr>
<tr align="center"> <td> Acer </td> <td> 1 507 </td> <td> 4,6% </td> </tr>
<tr align="center"> <td> ASUS </td> <td> 1 216 </td> <td> 3,8% </td> </tr>
<tr align="center"> <td> Apple </td> <td> 368 </td> <td> 1,2% </td> </tr>
<tr align="center"> <td bgcolor= " #FFFF00"> Total </td> <td bgcolor= " #FFFF00"> 32 855 </td> <td bgcolor= " #FFFF00"> 100% </td> </tr> 


</table>
</body>
</html>